@import "light";

:host {
  .hero {
    height: 80vh;
    width: 90%;
    margin: 0px auto;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .cover{
      background-color: #3334;
      height: 100%;
      width: 100%;
      border-radius: 20px;
      padding-left: 10%;
      h2, p {
        color: $thidiary;
        text-transform: uppercase;
        & > * {
          color: $thidiary;
        }
      }

      h2{
        font-size: 4rem;
        line-height: 4rem;
        font-weight: 700;
        div{
          font-weight: 700;
          font-size: 3rem;
          line-height: 3rem;
        }
      }

      p{
        font-weight: 300;
        font-size: 1rem;
        text-transform: none;
      }
      button{
        width: 175px;
        margin-top: 30px;
      }
    }
  }
  section {
    margin-top: 100px;
    header{
      text-align: center;
      h2{
        font-size: 4rem;
      }
      padding-bottom: 80px;
    }
  }
  .featured {
    padding: 0px 5%;

  }
  .offers{
    padding: 0 5%;
    .items{
      category-section {
        width: 25%;
        height: 200px;
        margin: 20px;
      }
    }
  }

  footer{
    padding: 0 5%;
    .left, .right{
      width: 50%;
    }

    .left {
      h1{
        font-size: 6rem;
      }
      p {
        font-size: .9rem;
        width: 80%;
        padding: 30px 0px;
      }
      .field {
        button {
          margin-left: 15px;
        }
      }
    }
    .right {
      text-align: center;
      h2{
        font-size: 2rem;
      }
      ul {
        padding: 0;
        list-style-type: none;
        li{
          opacity: .85;
          font-size: .95rem;
          margin-top: 10px;
          a{
          text-decoration: none;
          }
        }
      }
    }
  }

  .stripe-footer{
    background-color: $secondary;
    color: $thidiary;
    padding: 30px;
    margin-top: 30px;
    ul {
      list-style-type: none;
      padding: 0;
      li {
        margin: 0 10px;
        a{
          text-decoration: none;
          color: $thidiary;
        }
      }
    }
  }
}
