<div class="hero" style="background-image: url('assets/images/hero.jpg');">
  <div class="cover flex-container flex-left flex-middle">
    <div class="flex-container flex-column">
      <h2>
        NEW
        <div>
          Summer collection
        </div>
      </h2>
      <p>Elevate your summer Wardrobe with Our Latest Collection!!</p>
      <button class="call-to-action">Buy Now</button>
    </div>
  </div>
</div>
<section class="featured">
  <header>
    <h2>Featured</h2>
    <p>Dive into our top-rated products loved by thousands</p>
  </header>
  <div class="flex-container flex-center flex-middle">
    <shop-item [item]="this.shopItem" />
    <shop-item [item]="this.shopItem" />
    <shop-item [item]="this.shopItem" />
  </div>
</section>
<section class="offers">
  <header>
    <h2>Offers</h2>
    <p>Choose from our exciting deals and discounts.</p>
    <p>Grab your favourite!</p>
  </header>
  <div class="flex-container flex-center flex-middle">
    <a href="shop">
      <img src="assets/images/sale.png" alt="">
    </a>
  </div>
</section>
<section class="offers">
  <header>
    <h2>Category</h2>
    <p>Discover the role that suits you best and play along</p>
    <p>with our exclusive collections.</p>
  </header>
  <div class="items flex-container flex-center flex-middle">
    <category-section [size]="'500px'" [category]="this.categories['WOMEN']"/>
    <category-section [size]="'600px'" [category]="this.categories['MEN']"/>
    <category-section [size]="'400px'" [category]="this.categories['KIDS']"/>
    <category-section [size]="'500px'" [category]="this.categories['UNISEX']"/>
  </div>
</section>

<footer class="flex-container flex-spaced">
  <div class="left">
    <h1>PMA</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos quo nihil porro itaque! Dicta, adipisci. Reiciendis perferendis iusto voluptas quas, quod fugit distinctio error vitae adipisci voluptatem facilis dolorum blanditiis.</p>
    <div class="field flex-container">
      <input type="email" name="" id="" placeholder="Your email">
      <button class="call-to-action">Submit</button>
    </div>
  </div>
  <div class="right flex-container flex-spaced">
    <div class="column">
      <h2>Product</h2>
      <ul>
        <li>
          <a href="#">PMA</a>
        </li>
        <li>
          <a href="#">PMA</a>
        </li>
        <li>
          <a href="#">PMA</a>
        </li>

        <li>
          <a href="#">PMA</a>
        </li>
        <li>
          <a href="#">PMA</a>
        </li>
        <li>
          <a href="#">PMA</a>
        </li>
        <li>
          <a href="#">PMA</a>
        </li>

      </ul>
    </div>
    <div class="column">
      <h2>Category</h2>
      <ul>
        <li>
          <a href="#">PMA</a>
        </li>
        <li>
          <a href="#">PMA</a>
        </li>
        <li>
          <a href="#">PMA</a>
        </li>

        <li>
          <a href="#">PMA</a>
        </li>
        <li>
          <a href="#">PMA</a>
        </li>
        <li>
          <a href="#">PMA</a>
        </li>
        <li>
          <a href="#">PMA</a>
        </li>

      </ul>
    </div>
    <div class="column">
      <h2>Social Links</h2>
      <ul>
        <li>
          <a href="#">PMA</a>
        </li>
        <li>
          <a href="#">PMA</a>
        </li>
        <li>
          <a href="#">PMA</a>
        </li>

        <li>
          <a href="#">PMA</a>
        </li>
        <li>
          <a href="#">PMA</a>
        </li>
        <li>
          <a href="#">PMA</a>
        </li>
        <li>
          <a href="#">PMA</a>
        </li>

      </ul>
    </div>

  </div>
</footer>
<div class="stripe-footer flex-container flex-spaced">
  2024 PMA productions
  <ul class=" flex-container flex-spaced">
    <li>
      <a href="#">Terms and conditions</a>
    </li>
    <li>
      <a href="#">Privacy and policy</a>
    </li>
    <li>
      <a href="#">Site Map</a>
    </li>
  </ul>
</div>
