
<h3>Brands</h3>
<ul class="brands">
  <li>
    <input type="checkbox" name="" id="brand1">
    <label for="brand1">Brand 1</label>
  </li>
  <li>
    <input type="checkbox" name="" id="brand2">
    <label for="brand2">Brand 2</label>
  </li>
  <li>
    <input type="checkbox" name="" id="brand3">
    <label for="brand3">Brand 3</label>
  </li>
  <li>
    <input type="checkbox" name="" id="brand4">
    <label for="brand4">Brand 4</label>
  </li>
  <li>
    <input type="checkbox" name="" id="brand5">
    <label for="brand5">Brand 5</label>
  </li>
  <li>
    <input type="checkbox" name="" id="brand6">
    <label for="brand6">Brand 6</label>
  </li>
</ul>

<h3>Sizes</h3>
<ul class="sizes">
  <li>XS</li>
  <li>S</li>
  <li>M</li>
  <li>L</li>
  <li>XL</li>
  <li>XXL</li>
  <li>XXXL</li>
</ul>
