<img src="assets/images/item1.png" alt="">

<div class="specs">
  <h1>Item title</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non reprehenderit quae optio eius! Quos iure quisquam obcaecati reprehenderit ipsa ad magni tempore, alias voluptatem! Totam quia saepe assumenda tenetur non!</p>
  <ul class="sizes">
    <li>XS</li>
    <li>S</li>
    <li>M</li>
    <li>L</li>
    <li>XL</li>
    <li>XXL</li>
    <li>XXXL</li>
  </ul>


  <button class="call-to-action">Buy Now</button>
</div>
