<nav class="flex-container flex-spaced flex-top">
  <ul class="flex-container flex-left">
    <li >
      <a href="shop/men">
        Men
      </a>
    </li>
    <li>
      <a href="shop/women">
        Women
      </a>
    </li>
    <li>
      <a href="shop/kids">
        Kids
      </a>
    </li>
    <li>
      <a href="shop">
        New & Featured
      </a>
    </li>
  </ul>

  <div class="logo">
    <a href="/">PMA</a>
  </div>

  <ul class="flex-container flex-left">
    <li >
      <a href="shop">
        <fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon>
      </a>
    </li>
    <li>
      <a href="#">
        <fa-icon [icon]="['fas', 'basket-shopping']"></fa-icon>
      </a>
    </li>
    <li>
      <a href="#">
        Login
      </a>
    </li>
  </ul>
</nav>
